In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
from sklearn.datasets import load_iris

In [3]:
iris=load_iris()

In [4]:
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [5]:
df=pd.DataFrame(iris.data,columns=iris.feature_names)

In [6]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [7]:
df['target']=iris.target

In [8]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [9]:
df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test=train_test_split(df.drop(['target'],axis=1),df.target,train_size=0.9)

In [12]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.cluster import KMeans
from sklearn.linear_model import LogisticRegression

In [13]:
from sklearn.model_selection import cross_val_score

In [14]:
cross_val_score(RandomForestClassifier(),X_train,y_train,cv=5)

array([0.92592593, 0.92592593, 0.88888889, 0.96296296, 0.96296296])

In [15]:
cross_val_score(KMeans(n_clusters=3),X_train,y_train,cv=5)

array([-14.58894383, -16.14276029, -23.60712326, -10.47559186,
       -13.03087824])

In [16]:
cross_val_score(LogisticRegression(),X_train,y_train)

C:\Users\Divyanshu\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Divyanshu\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array([0.92592593, 0.96296296, 0.92592593, 0.96296296, 0.96296296])

# test data set

In [17]:
cross_val_score(RandomForestClassifier(),X_test,y_test,cv=5)

C:\Users\Divyanshu\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=5.
  warnings.warn(

array([0.66666667, 1.        , 0.66666667, 1.        , 1.        ])

In [18]:
reg=RandomForestClassifier()

In [19]:
reg.fit(X_train,y_train)

RandomForestClassifier()

In [20]:
reg.predict([[5.1,3.5,1.4,0.2]])

C:\Users\Divyanshu\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([0])

In [21]:
reg.score(X_test,y_test)

0.9333333333333333

In [22]:
targets = iris.target_names

In [23]:
reg.predict(X_test)

array([2, 1, 2, 0, 1, 2, 1, 0, 1, 2, 1, 2, 1, 0, 0])

In [24]:
format(targets[reg.predict(X_test)])

"['virginica' 'versicolor' 'virginica' 'setosa' 'versicolor' 'virginica'\n 'versicolor' 'setosa' 'versicolor' 'virginica' 'versicolor' 'virginica'\n 'versicolor' 'setosa' 'setosa']"

In [25]:
with open("iris.pickle",'wb') as f:
    pickle.dump(reg,f)